---
- name: Copiar arquivo kubeconfig do Control Plane para o Servidor Ansible
  hosts: kubernetes_master
  gather_facts: false
  become:
    true # Adicione become: true aqui para garantir privilégios nas tarefas subsequentes
    # (Isso garante que o módulo stat na tarefa 2 e o fetch na tarefa 3 usem sudo)

  tasks:
    - name: 1. Criar o diretório .kube no servidor Ansible (localmente)
      file:
        path: "{{ lookup('env', 'HOME') }}/.kube"
        state: directory
        mode: "0700"
      delegate_to: localhost
      # Não precisa de become: true aqui, pois roda localmente como o usuário Ansible

    - name: 2. Validar se o arquivo admin.conf existe no Master
      stat:
        path: /etc/kubernetes/admin.conf
      register: kubeconfig_file
      # Esta tarefa agora usa become: true herdado do PLAY

    - name: 3. Copiar o admin.conf para o servidor Ansible (como ~/.kube/config)
      fetch:
        src: /etc/kubernetes/admin.conf
        dest: "{{ lookup('env', 'HOME') }}/.kube/config"
        flat: yes
        fail_on_missing: true
      when: kubeconfig_file.stat.exists
      # Esta tarefa agora usa become: true herdado do PLAY, permitindo acesso ao arquivo root

    - name: 4. Ajustar permissões do arquivo kubeconfig no servidor Ansible
      file:
        path: "{{ lookup('env', 'HOME') }}/.kube/config"
        mode: "0600"
      delegate_to: localhost
      # Não precisa de become: true aqui, pois roda localmente como o usuário Ansible
